$icon-import: true !default;

$icon-classname: 'icon' !default;
$icon-vertical-align: middle !default;
$icon-fill: currentColor !default;
$icon-width: 1rem !default;
$icon-height: 1rem !default;

@if ($icon-import) {
    .#{$icon-classname} {
        width: $icon-width;
        height: $icon-height;
        fill: $icon-fill;
        vertical-align: $icon-vertical-align;
    }
}
